@using Microsoft.AspNetCore.Identity
@using OchronaDanych.Areas.Identity.Data
@using OchronaDanych.Models
@{
    ViewData["Title"] = "Home Page";
}

@model OchronaDanych.Models.DomainPasswordVM
<div class="row">
    <div class="col-md-4">
        <form asp-action="Open">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Domain" class="control-label"></label>
                @Html.DisplayFor(item => item.Domain)
                <span asp-validation-for="Domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                @Html.DisplayFor(item => item.Password)
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>MasterPassword</label>
                <input type="password" name="MasterPassword" id="MasterPassword"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Open" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
